@model Website_ProgrammingProject.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}
@section Details{
    <div class="content-wrapper" style="min-height: 1203.6px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                    <div class="col-sm-12">
                                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                            <tbody>

                                                @{
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">ID</td>
                                                        <td>@Model.ProductId</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Name</td>
                                                        <td>@Model.ProductName</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Price</td>
                                                        <td>@Model.Price</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Image</td>
                                                        <td> <img src=" data:image;base64,@Model.Image" width="200px" alt="@Model.ProductName" /></td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">ID</td>
                                                        <td>@Model.Display</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Chip</td>
                                                        <td>@Model.Chip</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Ram</td>
                                                        <td>@Model.Ram</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Brand</td>
                                                        <td>@Model.BrandId</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">Category</td>
                                                        <td>@Model.CategoryId</td>
                                                    </tr>

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>}
